.fondo{
    background-image: url(../img/img4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
}
.fondo9{
    background-image: url(../img/img4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
}
.fondo1{
    background-image: url(../img/chica-haciendo-su-examen_1098-218.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fondo2{
    background-image: url(../img/chica-estudiando-examen.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.img1{
    background-image: url(../img/min1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fondoverde{
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img2{
    background-image: url(../img/img3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img3{
    background-image: url(../img/img4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fondeado{
    background-image: url(../img/img3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fondeado2{
    background-image: url(../img/inve.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.chonchito{
    font-weight: 500;
}
.inv{
    background-image: url(../img/inve.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.inv2{
    background-image: url(../img/inve2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.anima{
    
}
@media only screen and (min-width:901px) and (max-width:3000px) {
    .cuadrada{
        display: none;
    }
    .espacio{
        padding-top: 48px;
        padding-bottom: 48px;
    }
}
@media only screen and (min-width:100px) and (max-width:900px) {
    .img2{
        background-image:none;
    }
    .inv{
        background-image: none;
    }
    .espacio{
        padding-top: 0px;
        padding-bottom: 48px;
    }
    .desaparece{
        display: none;
    }
    .reduxco{
        width: 50px;
    }
}

.redonda{
    border-radius: 20%;
}

.rotado{
    position: relative; 
    top: -200px;
    left: 45%;
    transform: rotate(20deg);
    
}
.pararotado{
    margin-top: 150px;
}
