.fondo{
    background-image: url(../img/img4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.alto{
    height: 60vh;
}
.fondo88{
    background-image: url(../img/cuadrado.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fondo1{
    background-image: url(../img/chica-haciendo-su-examen_1098-218.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fondo2{
    background-image: url(../img/chica-estudiando-examen.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img1{
    background-image: url(../img/min1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fondoverde{
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img2{
    background-image: url(../img/img3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img3{
    background-image: url(../img/img4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fondeado{
    background-image: url(../img/img3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fondeado2{
    background-image: url(../img/inve.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.chonchito{
    font-weight: 500;
}
.inv{
    background-image: url(../img/inve.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.inv2{
    background-image: url(../img/inve2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.anima{
    
}
@media only screen and (min-width:901px) and (max-width:3000px) {
    .cuadrada{
        display: none;
    }
    .espacio{
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .espacio2{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media only screen and (min-width:100px) and (max-width:900px) {
    .img2{
        background-image:none;
    }
    .inv{
        background-image: none;
    }
    .espacio{
        padding-top: 0px;
        padding-bottom: 48px;
    }
    .desaparece{
        display: none;
    }
    .reduxco{
        width: 50px;
    }
    .alto{
        height: auto;
    }
    
}

.redonda{
    border-radius: 20%;
}

.rotado{
    position: relative; 
    top: -200px;
    left: 45%;
    transform: rotate(20deg);
    
}
.pararotado{
    margin-top: 150px;
}

/* ESTILOS SLIDER  */
#carousel .carousel-item.boat{
    background-image:url("../img/img4.png");
}
#carousel .carousel-item.sea{
    background-image:url("../img/img3.png");
}
#carousel .carousel-item.river{
    background-image:url("../img/chica-haciendo-su-examen_1098-218.jpg");
}
#carousel .carousel-item{
    height:70vh;
    width:100%;
    min-height:350px;
    background:no-repeat center center scroll;
    background-size:cover;
}
#carousel .carousel-inner .carousel-item{
    transition:-webkit-transform 2s ease;
    transition:transform 2s ease;
    transition:transform 2s ease, -webkit-transform 2s ease;
}
#carousel .carousel-item .caption{
    background:rgba(60,160,144,0.7);
    /*animation-duration: 1s;
    animation-delay: 2s;*/
}
/*
#carousel .caption h2{
    animation-duration: 1s;
    animation-delay: 2s;
}
#carousel .caption p{
    animation-duration: 1s;
    animation-delay: 2.2s;
}
#carousel .caption a{
    animation-duration: 1s;
    animation-delay: 2.4s;
}*/
#carousel .carousel-item .caption2{
    background:rgba(0,0,0,0.5);
}
.oscurito{
    background:rgba(0,0,0,0.5);
}

/*  owl */

/*
main header{
	width: 98%;
	height: 60px;
	margin: 0 auto;
	background: gray;
	display: flex;
	align-items: center;
	padding: 20px;
	justify-content: space-between;
	border-bottom: 2px solid #ddd;
	}
    */
		/*header p span{
			font-size: 40px;
		    margin: 0 5px;
		    cursor: pointer;
		    color: #555;
		    width: 30px;
		    height: 30px;
		    display: inline-block;
		    line-height: 19px;
		    text-align: center;
		    border-radius: 3px;
		}
		header p span:hover{
			background: #222;
    		color: white;
		}*/
        /*
		.hola{
			width: 98%;
			height: 600px;
			/*background: red;
			margin: auto;
			display: flex;
			align-items: center;
			overflow-x: auto;
		}
        */
        
		div::-webkit-scrollbar{
			display: none;
		}
        
		.hola .product{
			min-width: 40%;
			/*height: 90%;*/
			/*background: whitesmoke;*/
			/*margin:  0 20px  0 0;*/
			/*border-radius: 20px;*/
			/*position: relative;*/
			/*left: 0;*/
			transition: 0.5s;

		}
		
		
		@media (max-width: 768px) {
            /*
			header p span{
				font-size: 30px;
			}*/
			.hola .product {
				min-width: 99%;
				/*margin:  0 10px  0 0;*/
			}
        
